<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="/home">
        <img src="../../../assets/logos/logo_home.png" alt="Logo de la Web" class="navbar-logo">
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li *ngIf="authService.isLoggedIn && authService.isAdmin()" class="nav-item">
            <a class="nav-link" routerLink="/users">Usuarios</a>
          </li>
          <li *ngIf="authService.isLoggedIn && authService.isAdmin()" class="nav-item">
            <a class="nav-link" routerLink="/translations">Traducciones</a>
          </li>
          <li *ngIf="authService.isLoggedIn && authService.isUser()" class="nav-item">
            <a class="nav-link" routerLink="/translation">Traductor</a>
          </li>
          <li *ngIf="authService.isLoggedIn && authService.isUser()" class="nav-item">
            <a class="nav-link" routerLink="/my-translations">Mis traducciones</a>
          </li>
          <li *ngIf="authService.isLoggedIn && authService.isUser()" class="nav-item">
            <a class="nav-link" routerLink="/my-favorites">Mis favoritas</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li *ngIf="!authService.isLoggedIn" class="nav-item">
            <button class="btn btn-outline-primary me-3" routerLink="/login">Iniciar sesión</button>
          </li>
          <li *ngIf="!authService.isLoggedIn" class="nav-item">
            <button class="btn btn-primary" routerLink="/register">Registrar</button>
          </li>
          <li *ngIf="authService.isLoggedIn" class="nav-item me-5">
            <p class="mt-2">
              {{ authService.getUser().username | uppercase }}
            </p>
          </li>
          <li *ngIf="authService.isLoggedIn" class="nav-item">
            <button class="btn btn-primary" (click)="logout()" routerLink="/home">Cerrar sesión</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
