<div class="container">
  <h1>Lista de usuarios</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Nombre de usuario</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Email</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Roles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.username}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.dateOfBirth}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>{{user.roles}}</td>
      </tr>
    </tbody>
  </table>
</div>
