<div class="mt-5">
  <h3>Lista de usuarios</h3>
  <div class="table-responsive mt-4">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre de usuario</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Email</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Roles</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.username }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.dateOfBirth }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>{{ user.roles }}</td>
          <td>
            <button class="btn btn-sm btn-warning me-3" title="Actualizar" (click)="openUpdateModal(user)">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-sm btn-danger" title="Borrar" (click)="deleteUserById(user.id)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav aria-label="Page navigation users">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 0">
        <a class="page-link" href="#" (click)="setPage(currentPage - 1, $event)">Anterior</a>
      </li>
      <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
          [class.active]="i === currentPage">
        <a class="page-link" href="#" (click)="setPage(i, $event)">{{ i + 1 }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
        <a class="page-link" href="#" (click)="setPage(currentPage + 1, $event)">Siguiente</a>
      </li>
    </ul>
  </nav>
</div>
