<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="row mb-3">
        <div class="col-12 text-center">
          <h3>Bienvenido de nuevo</h3>
        </div>
      </div>
      <div class="card mb-5">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
            <div class="mb-3 mt-4">
              <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username" placeholder="Nombre de usuario" required>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" placeholder="Contraseña" required>
            </div>
            <div class="row justify-content-center align-items-center">
              <div class="col-md-6 text-center">
                <input type="submit" value="Comenzar" class="btn btn-primary">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
